.header {
  width: 100%;
  padding: 3px 5px;
  box-sizing: border-box;
}

.header__menu {
  background-color: var(--white);
  display: flex;
  width: 100%;
  border-radius: 3px;
  padding: 0 15px;
  box-sizing: border-box;
}

.header__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--text-gray);
  padding: 10px 0 13px;
  box-sizing: border-box;

}

.header__link:not(:last-child) {
  margin-right: 25px;
}

.header__link_active {
  color: var(--black);
  border-bottom: 2px solid var(--border-green);
}